<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route</title>

    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <section id="utama">
        <h1 class="heading">Socket Draw.IO</h1>
            <h3 class="heading">Endpoint : </h3>
            <div class="container">
                <% for(var ep of endpoint) {%>
                    <div class="box"><div class="text-overlay"><a href="/draw/<%=ep%>" style="text-decoration:none"><%= ep %></a></div>
                    <img src="/css/pena.jpg" alt="utama">
                    </div>
                <% } %>
            </div>
    </section>
</body>
</html>
